<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fee Receipt</title>
  <style>
   
    table {
      border-collapse: collapse;
      width: 100%;
       border: 1px solid #dddddd;

    }



    p {
      margin-bottom: 0;
    }

    .receipt {
 margin: 50px 50px;
      border: 1px solid black;
      padding: 2px;
    }



    .scl-name {
        font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      color:rgb(80, 119, 21);
    }

    .scl-address {
      display: flex;
      align-items: center;
      justify-content: center
    }

    .table-cash {
      display: flex;
      align-items:
        flex-start;
      column-gap: 10px;
      padding-left: 10px;
    }

    .table-amount {
      padding-left: 10px;
    }

    .recipt-type-container {
      display: flex;
      align-items:
        center;
      justify-content: center;
    
    }

    .receipt-info-container {
      display: flex;
      width: 100%;
      flex-direction: row;
      margin-bottom: 10px;
      margin: 10px;
    }

    .receipt-info-left-container {
      display: flex;
      flex-direction: column;
      flex: 0.5;
      width: 100%;

      
    }

    .receipt-info-right-container {
      display: flex;
      flex-direction: column;
      flex: 0.5;
      width: 100%;
    }

    .receipt-item-details-container {}

    .receipt-footer-container {
      display:
        flex;
      width: 100%;
      flex-direction: row;
      margin-bottom: 10px;
      margin-top:
        30px;
    }

    .maintable {
      padding: 5px;
      margin: 15px 5px;
    }

    .p-center {
      text-align: right;
    }

    .footer-table-data {
      padding: 10px;
    }

      
    .schooll{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
        margin-bottom: 10px;
     
    }
    .schoolLogo{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   margin-top: 5px;
  }
  </style>
</head>

<body>
  <div class="receipt">
    <div class="schoolLogo">
     <img  style="background-color: 1px solid black;border-radius: 50%;" height="100px" width="100px" src="{{school.logo.link}}" alt="Logo" />
           
    </div>
       <div class="schooll">
        <p class="scl-name">{{school.name}}</p>
        <span style="font-size: large;">{{school.address}}</span>
        <span style="font-size: large;margin-top: 5px;">Phone No:{{school.phone}}
          , Email:{{school.email}}</span>
          </div>
    <div class="recipt-type-container">
      <h2>{{receiptTitle.name}}
        {{receiptTitle.academicYearFrom}}
        -
        {{receiptTitle.academicYearTo}}</h2>
    </div>
    <div class="receipt-info-container">
      <div class="receipt-info-left-container">
        <p><b>Receipt No :</b>{{receiptNumber}}</p>
        <p><b>Name : </b> {{payeeDetails.name}}</p>
        <p><b>Admn No:</b> {{payeeDetails.admissionNumber}}</p>
        <p><b>Roll No :</b> {{payeeDetails.rollNumber}}</p>
      </div>
      <div class="receipt-info-right-container">
        <p><b>Date : </b> {{paidAt}}</p>
        <p><b>Parent Name :</b> {{payeeDetails.parentName}}</p>
        <p><b>Class : </b> {{payeeDetails.className}}</p>
        <p><b>Installment : </b> {{installMentPriority}}</p>

      </div>
    </div>
    <div class="maintable">
      <table border="1px solid #dddddd">

        <tr>
          <th>Sl No</th>
          <th>Fee Particulars</th>
          <th>Description</th>
          <th>Amount</th>
        </tr>

        <tbody>
          {{#each items}}
          <tr>
            <td style="text-align: center;">{{inc @index}}</td>
            <td style="text-align: center;">{{this.name}}</td>
            <td style="text-align: center;">{{this.description}}</td>
            <td style="text-align: center;">{{this.amount}}</td>
          </tr>
          {{/each}}
          <tr>
            <td class="table-data"></td>
            <td class="table-data"></td>
            <td style="font-weight: 600;">Total:</td>
            <td style="text-align: center;font-weight: 600;">{{amountPaid}}</td>
          </tr>
          <tr>
            <td style="padding: 10px;" colspan="4">
              <b>Amount in Words : </b>{{amountPaidInWords}}
            </td>
          </tr>
          <tr>
            <td style="padding: 10px;" colspan="4"> <b>By: </b> {{paymentMode}}</td>
          </tr>
        </tbody>
      </table>



      <div class="receipt-footer-container">
        <table border="1px solid #dddddd" style="margin: 10px;">
          <tbody>
            <tr>
              <td class="footer-table-data">
                <p><b>Note : </b>
                  Payments by cheques are subject to realisation</p>
              </td>
              <td class="footer-table-data">
                <p class="p-center">For {{this.school.name}}</p>
                <p class="p-center">Signature</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</body>

</html>