<html>

<head>
  <style>
    body {

      margin: 0;
      padding: 0;
      zoom: 0.98;
    }

    .page-border {
      border: 2px solid black;
      padding: 10px;
      margin: 10px 12px 7px 12px;
      box-sizing: border-box;
      min-height: 100vh;
      position: relative;

      page-break-inside: avoid;
    }

    .header-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .schoolLogo {
      text-align: left;
    }

    .schoolLogo img {
      height: 80px;
      object-fit: contain;
      border-radius: 20px;
    }

    .school-details {
      flex-grow: 1;
      text-align: center;
    }

    .scl-name {
      font-size: 22px;
      font-weight: bold;
      text-transform: capitalize;
      color: rgb(80, 119, 21);
    }

    .scl-address {
      display: flex;
      justify-content: center;
      flex-direction:
        column;
      align-items: center;
      text-align: center;
    }


    .bb {
      border: 2px solid black;
      border-collapse: collapse;
    }

    table {
      width: 100%;
      margin-top: 15px;
    }

    table,
    th,
    td {
      border:
        2px solid black;
      border-collapse: collapse;
    }

    td {
      text-align: center;
    }

    h3 {
      text-align: center;
    }

    text {
      text-align: center;
    }
  </style>
</head>

<body>


  <div class="page-border">


    <div class="header-container">
      <div class="schoolLogo">
        <img src="{{setting.logo}}" alt="Logo" />
      </div>
      <div class="school-details">
        <span class="scl-name">{{setting.name}}</span>
        <span class="scl-address">{{setting.address}}</span>
        <span class="scl-address">Phone No:
          {{setting.phone}}, Email:
          {{setting.email}}, Website: ecampusstreet.com</span>
      </div>
    </div>

    <h3 style="text-align: center;">Item Report:</h3>

    <table>
      <tr>
        <th> Sl </th>
        <th>Item Id</th>
        <th>Item Name</th>
        <th>Department</th>
        <th>Brand</th>

      </tr>
      {{#each data}}
      <tr>
        <td>{{inc @index}}</td>
        <td>{{this.itemId}}</td>
        <td>{{this.name}}</td>
        <td>{{this.department.name}}</td>
        <td>{{this.brand}}</td>

      </tr>
      {{/each}}
    </table>
  </div>

</body>

</html>