<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <title>
      Document
    </title>
    <style>
      .centerContainer { flex: 1; text-align: center } .newGraph{ display: flex;
      justify-content: space-between; margin-top: 10px; } .stud-school {
      display: flex; gap: 8px; } .header-container { font-weight: bold;
      font-size: 1.15rem; padding: 5px 0; } .student-container { display: flex;
      justify-content: space-between; } .hallticket-container { border: 1px
      solid black; padding: 5px; margin: 10px 0; } .header-container {
      text-align: center; } .student-info-container { display: flex;
      justify-content: space-between; height: 130px; } .student-info {
      display:flex; flex-direction: column; justify-content: space-around; }
      .student-photo { width: 80px; height: 80px; border-radius: 10px; overflow:
      hidden; } .student-image { height: 100%; width: 100%; object-fit: contain;
      border-radius: 10px; overflow: hidden; } .table { margin-top: 7px; width:
      100%; border-collapse: collapse; } .table-head-title { text-align: center;
      border: 1px solid black; } .table-data { text-align: center; border: 1px
      solid black; } .table-head-title { padding: 5px 0; font-size: 1.1rem; }
      .table-data { padding: 5px 0; font-size: 1.1rem; } .student-info div {
      font-size:16px; color: blue; } .header { text-align: center; }
      .stud-class{ margin-top: 3px; } .stud-section{ margin-top: 3px; }
      .subject-name { text-transform: uppercase; } .remarks-title { margin-top:
      5px; font-size: larger; } .stud-name{ margin-top: 5px; } .stud-dob{
      margin-top: 3px; } .exam-header{ margin-top: 3px; } .table-data-total{
      text-align: start; border: 1px solid black; } .sign-container { display:
      flex; justify-content: space-between; margin-top: 10px; } .schName {
      color: red; font-size: large; text-align: center; } .schoolLogo { height:
      80px; width: 80px; object-fit: contain; border-radius: 10px; overflow:
      hidden; margin-left: 12px; } .schaddress { font-size: small; text-align:
      center; margin-top: 5px; } .leftContainer { flex:0 0 auto; } .mainHead {
      display: flex; align-items: center; } .bargraph{ margin-top: 8px; }
      .centerContainer { flex: 1; text-align: center }
    </style>
  </head>

  <body>
    <div class="mainHead">
      <div class="leftContainer">
        <img
          id="{{@index}}"
          class="schoolLogo"
          src="{{settings.logo}}"
          alt="Logo"
        />

      </div>

      <div class="centerContainer">
        <div class="schName">
          {{settings.name}}
        </div>
        <div class="schaddress">{{settings.address}}</div>
        <div class="exam-header">
          {{examTitle}}
          {{this.student.academicYear.from}}-{{this.student.academicYear.to}}
        </div>
      </div>
    </div>
    <div class="student-container">
      <div class="student-info">
        <div class="stud-name">
          Student Name:
          {{student.basicInfo.name}}
        </div>
        <div class="stud-dob">
          DOB:
          {{student.basicInfo.dob}}
        </div>
        <div class="stud-class">
          Class:
          {{schClass.name}}
        </div>
        <div class="stud-section">
          Section:
          {{section.name}}
        </div>
      </div>
      <div class="student-photo">
        <img
          src="{{student.photo}}"
          alt="student"
          class="student-image"
          height="100%"
          width="100%"
        />
      </div>
    </div>
    <div class="table-container">
      <table class="table">
        <tr class="table-head-container">
          <th class="table-head-title">
            #SL
          </th>
          <th class="table-head-title">
            Subject
          </th>
          <th class="table-head-title">
            Max Marks
          </th>
          <th class="table-head-title">
            Obtained Max
          </th>
        </tr>
        {{#each subjectMarks}}
          <tr class="table-data-container">
            <td class="table-data">
              {{inc @index}}
            </td>
            <td class="table-data subject-name">
              {{this.subject.name}}
            </td>
            <td class="table-data">
              {{this.totalMarks}}
            </td>
            <td class="table-data">
              {{this.obtainedMarks}}
            </td>
          </tr>
        {{/each}}
        <tr class="table-data-container">
          <td colspan="2" class="table-data-total">
            <b>Grand Total:</b>
          </td>
          <td class="table-data">
            {{totalMax}}
          </td>
          <td class="table-data">
            {{totalMarks}}
          </td>
        </tr>
        <tr class="table-data-container" style="text-align: start;">
          <td colspan="4" style="border: 1px solid black;padding: 10px 5px;">
            Percentage:
            {{percentage}}%&nbsp;&nbsp;&nbsp;Overall Grade:
            {{#ifCond this.percentage ">=" 85}}
              Distinction
            {{/ifCond}}
            {{#ifCond this.percentage ">=" 60}}
              1st class
            {{/ifCond}}
            {{#ifCond this.percentage "<=" 59}}
              2nd class
            {{/ifCond}}
          </td>
        </tr>
        <tr class="table-data-container">
          <td colspan="4" style="border: 1px solid black;padding: 5px 5px;"><p
            >Scale: Distinction=85% and Above&nbsp;&nbsp; 1st class=60% to
              85%&nbsp;&nbsp; 2nd class=Below 60%</p></td>
        </tr>
      </table>
    </div>

    <div class="newGraph">
      <div
        id="barChart"
        class="bargraph"
        style="width: 650px; height: 300px;"
      ></div>
      <div id="pieChart" style="width: 700px; height: 350px;"></div>
    </div>

    <script>
      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawCharts); function drawCharts() { var
      barChartData = google.visualization.arrayToDataTable([ ['Subject',
      'Marks'],
      {{#each subjectMarks}}
        ['{{subject.name}}',
        {{obtainedMarks}}],
      {{/each}}
      ]); var barChartOptions = { title: 'Marks Distribution for
      {{student.basicInfo.name}}', hAxis: { title: 'Marks' }, vAxis: { title:
      'Subject' }, legend: { position: 'none' }, annotations: { textStyle: {
      fontSize: 12, color: 'black', auraColor: 'none' }, stem: { length: 10 } }
      }; var view = new google.visualization.DataView(barChartData);
      view.setColumns([0, 1, { type: 'string', role: 'annotation', calc:
      'stringify', sourceColumn: 1 }]); var barChart = new
      google.visualization.BarChart(document.getElementById('barChart'));
      barChart.draw(view, barChartOptions); var pieChartData =
      google.visualization.arrayToDataTable([ ['Subject', 'Marks'],
      {{#each subjectMarks}}
        ['{{subject.name}}',
        {{obtainedMarks}}],
      {{/each}}
      ]); var pieChartOptions = { title: 'Percentage of the marks for
      {{student.basicInfo.name}}' }; var pieChart = new
      google.visualization.PieChart(document.getElementById('pieChart'));
      pieChart.draw(pieChartData, pieChartOptions); }
    </script>

    <div>
      <p class="remarks-title">
        Remarks:
      </p>

      <p class="remarks-title">
        Parents Remarks:
      </p>
      <div class="sign-container">
        <div class="remarks-title">
          Signature of the Parent
        </div>
        <div class="remarks-title">
          Signature of the class teacher
        </div>
        <div class="remarks-title">
          Signature of the principal
        </div>
      </div>
    </div>
  </body>

</html>