<html>

<head>
    <style>
        body {

            margin: 0;
            padding: 0;
            zoom: 0.98;
        }

        .page-border {
            border: 2px solid black;
            padding: 10px;
            margin: 10px 12px 7px 12px;
            box-sizing: border-box;
            min-height: 100vh;
            position: relative;

            page-break-inside: avoid;
        }

        .bb {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            width: 100%;

        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        td {
            text-align: center;
        }

        h3 {
            text-align: center;
        }


        .header-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .schoolLogo {
            text-align: left;
        }

        .schoolLogo img {
            height: 80px;
            object-fit: contain;
            border-radius: 20px;
        }

        .school-details {
            flex-grow: 1;
            text-align: center;
        }

        .scl-name {
            font-size: 22px;
            font-weight: bold;
            text-transform: capitalize;
            color: rgb(80, 119, 21);
        }

        .scl-address {
            display: flex;
            justify-content: center;
            flex-direction:
                column;
            align-items: center;
            text-align: center;
        }
    </style>
</head>

<body>

    <div class="page-border">
        <div class="header-container">
            <div class="schoolLogo">
                <img src="{{settings.logo}}" alt="Logo" />
            </div>
            <div class="school-details">
                <span class="scl-name">{{settings.name}}</span>
                <span class="scl-address">{{settings.address}}</span>
                <span class="scl-address">Phone No:
                    {{settings.phone}}, Email:
                    {{settings.email}}, Website: ecampusstreet.com</span>
            </div>
        </div>




        <h3>STUDENTS ENROLLMENT LIST : {{academicYearActive.from}}-{{academicYearActive.to}}</h3>


        {{#each sectionStudentList}}
        <table>
            <div class="bb">
                <h3>SECTION : {{this.sectionName}}</h3>
            </div>
            <th>#SL</th>
            <th>Name</th>
            <th>Father Name</th>
            <th>Mother Name</th>
            <th>Roll No</th>
            <th>SAT No</th>
            <th>Phone</th>
            <th>DOB</th>
            {{#each this.students}}
            <tr>
                <td>{{inc @index}}</td>
                <td>{{this.basicInfo.name}}</td>
                <td>{{this.fatherInfo.name}}</td>
                <td>{{this.motherInfo.name}}</td>
                <td>{{this.academicInfo.rollNumber}}</td>
                <td></td>
                <td>{{this.contactNumber}}</td>
                <td>{{dateFormat this.basicInfo.dob}}</td>
            </tr>
            {{/each}}

        </table>
        {{/each}}
    </div>

</body>

</html>