<html>

<head>
  <style>
    body {

      margin: 0;
      padding: 0;
      zoom: 0.98;
    }

    .page-border {
      border: 2px solid black;
      padding: 10px;
      margin: 10px 12px 7px 12px;
      box-sizing: border-box;
      min-height: 100vh;
      position: relative;

      page-break-inside: avoid;
    }

    .header-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .schoolLogo {
      text-align: left;
    }

    .schoolLogo img {
      height: 80px;
      object-fit: contain;
      border-radius: 20px;
    }

    .school-details {
      flex-grow: 1;
      text-align: center;
    }

    .scl-name {
      font-size: 22px;
      font-weight: bold;
      text-transform: capitalize;
      color: rgb(80, 119, 21);
    }

    .scl-address {
      display: flex;
      justify-content: center;
      flex-direction:
        column;
      align-items: center;
      text-align: center;
    }

    .bb {
      border: 2px solid black;
      border-collapse: collapse;
    }

    .maindiv {
      text-align: center;
    }

    table {
      width: 100%;
    }

    table,
    th,
    td {
      border: 2px solid black;
      border-collapse:
        collapse;
    }

    td {
      text-align: center;
    }

    h3 {
      text-align: center;
    }
  </style>
</head>

<body>


  <div class="page-border">


    <div class="header-container">
      <div class="schoolLogo">
        <img src="{{school.logo}}" alt="Logo" />
      </div>
      <div class="school-details">
        <span class="scl-name">{{school.name}}</span>
        <span class="scl-address">{{school.address}}</span>
        <span class="scl-address">Phone No:
          {{school.phone}}, Email:
          {{school.email}}, Website: ecampusstreet.com</span>
      </div>
    </div>

    <h3 style="text-align: center;">Student Checkout Report:</h3>




    <table>
      <tr>
        <th> SL </th>
        <th> Visitor Name </th>
        <th> Visitor Contact No</th>
        <th>Relationship With Student</th>
        <th>Check Out </th>
      </tr>
      {{#each data}}
      <tr>
        <td>{{inc @index}}</td>
        <td>{{this.visitorName}}</td>
        <td>{{this.visitorContactNumber}}</td>

        <td>{{this.relationship}}</td>

        <td>{{dateFormat this.createdAt}}</td>

      </tr>
      {{/each}}
    </table>

  </div>
</body>

</html>