<html>

  <head>
    <style>
      body { width: 100%; margin-left: -2px; } .bb { border: 2px solid black;
      border-collapse: collapse; } .addressData{ display: flex;justify-content:
      center;align-items: center; } table { width: 100%; } table, th, td {
      border: 2px solid black; border-collapse: collapse; } td { text-align:
      center; } h3 { text-align: center; }
    </style>
  </head>

  <body>
    {{!-- <h3>{{schoolName}}</h3>
    <text class="addressData">{{setting.address}}</text> --}}

    <p>{{this.vehicle.number}}</p>
    <table>
      <tr>
        <th> Date </th>
        <th>Firm </th>
        <th>BILL No</th>
        <th>FUEL Qnty Date</th>
        <th>Rate </th>
        <th>Amount </th>
        <th>KM </th>
        <th>Mileage</th>

      </tr>
      {{#each data}}
        <tr>
          <td>{{dateFormat this.date}}</td>
          <td>{{this.firmName.firmName}}</td>
          <td>{{this.billNo}}</td>
          <td>{{this.fuelQuantity}}</td>
          <td>{{this.rate}}</td>
          <td>{{this.amount}}</td>
          <td>{{this.kiloMeter}}</td>
          <td>{{this.amount}}</td>

        </tr>
      {{/each}}
    </table>

  </body>

</html>